# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# fuckery
/p5
:* RSS Channel *:

# dependencies
/node_modules

# testing

# production
/build

# bucklescript
/lib
.merlin
*.bs.js

# netlify

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
